body {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    height: 20vh;
    width: 50vh;
    grid-template-rows: 50px 1fr 30px;
    
}

h1 {
    background-color:#9ec285;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;

}

tr {
    margin-left: 5px;
    justify-content: flex-start;
}

tbody {
    color: orange;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.removeSkill {
    background-color: salmon;
    color: white;
    font-weight: bolder;
}

#myInput {
    border-color: #9ec285;
    font-size: 20px;
    color: gray;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    color: #9ec285;
    border: solid #9ec285 2px;
    font-size: 12px;
    color: #9ec285;
    background-color: white;
}

button:hover {
    background-color: #9ec285;
    color: white;
    opacity: 50%;
}

div {
    display: flex;
    justify-content: space-evenly
}